<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Artaetas, It's time for art!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="Artaetas, c'est la liberté de vendre et d'acheter pour tous">
    <meta name="keywords" content="art, artaetas">

    <meta property="og:title" content="Decouvrez Artaetas" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.artaetas.com" />
    <meta property="og:image" content="https://i.imgur.com/1b8bZ6h.jpg" />
    <meta property="og:description" content="Une plaforme d'achat et vente d'oeuvres d'art de toutes catégories, dédiée aux artistes, amateurs et collectionneurs" />
    <meta property="og:site_name" content="Artaetas" />
    <meta property="og:video" content="https://www.youtube.com/v/hD7tYm5FwZI" />

    <!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="https://assets.pinterest.com/js/pinit.js"></script>
    <script async src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0" charset="utf-8"></script> -->
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,500,700" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'autre' %>
  </body>
</html>
